# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\HP\Dropbox\My PC (DESKTOP-CFFSEMD)\Downloads\Bookies-Ala--master\Bookies-Ala--master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
